.heading-color {
  color: rgb(38, 143, 167);
}
.center-content {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(38, 143, 167);
  padding: 10px;
}
.pdfpage-margin {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.btn-color {
  margin-top: 20px;
  background-color: rgb(38, 143, 167);
}
